<strong>Olá, {{deliveryman}} </strong>
<p>Houve um cancelamento de pedido</p>
<p>
  <strong> Pedido: </strong> {{ order }} <br />
  <strong>Data/Hora: </strong> {{ date }}  <br />
  <strong>Verificar novos agendamentos de entrega</strong>
  <br />
</p>
