<strong>Olá, {{deliveryman}} </strong>
<p>Encomenda cadastrada para entrega</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Produto já está disponivel para retirada</strong>
  <br />
</p>
